html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
* {
  font-family: roboto;
}

body {
  font-size: 13px;
  a {
    font-size: 13px;
  }
}
.app {
  .text-light {
    a {
      color: white;
    }
  }
  .main-container {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    .left {
      width: 100%;
      min-width: 280px;
    }
    .right {
      -webkit-flex: 1;
      flex: 1;
      position: relative;
      overflow-y: scroll;
      padding-top: 50px !important;
    }
  }

  .child {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .scrollable {
    overflow-y: auto;
  }

  .clickable {
    cursor: pointer;
  }
  .checkbox-input {
    transform: scale(2);
  }
}
.s-modal {
  width: 500px;
  height: 250px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
